Should frames be defined as probing or non-probing?

[RFC 9000 § 9.1](https://www.rfc-editor.org/rfc/rfc9000.html#name-probing-a-new-path) defines probing frames, probing packets and also non-probing frames and packets.  The multipath draft does not do so about the new frames it defines.  Is this an oversight and should it?

There is a vague hint in [a paragraph of QUIC-MULTIPATH § 4.3](https://www.ietf.org/archive/id/draft-ietf-quic-multipath-15.html#section-4.3-13) saying that PATH_STATUS_* frames MAY be bundled with a PATH_NEW_CONNECTION_ID of PATH_RESPONSE frame.  PATH_RESPONSE is a probing frame, NEW_CONNECTION_ID is also a probing frame.  So it is not unreasonable to expect PATH_NEW_CONNECTION_ID and PATH_STATUS_* frames to also be probing frames.

In particular it would seem reasonable to bundle PATH_CHALLENGE, PATH_NEW_CONNECTION_ID and PATH_STATUS_* frames all in one packet.  But as far as I can tell this is not currently allowed.  Declaring PATH_NEW_CONNECTION_ID and PATH_STATUS_* frames as probing frames would solve this.

No, we should not try to reintroduce the concept of probing packets in the multipath draft. That concept is superceded by the introduction of Path Status frames.





a probing packet in rfc9000 is defined as
> A packet containing only probing frames is a "probing packet"

even if there's no requirement for extensions to define frames as probing and non probing, it's often done. Or said in better words, the list of probing frames in rfc9000 is not meant to be _the only_ frames considered probing, and can be expended.

That said, a packet that contains probing frames defined in rfc9000 + PATH_STATUS_AVAILABLE, would this be considered a probing packet nonetheless?

All frames are by default "non-probing" is not defined explicitly differently, as stated in RFC9000 section 9.1:

"PATH_CHALLENGE, PATH_RESPONSE, NEW_CONNECTION_ID, and PADDING frames are "probing frames", and all other frames are "non-probing frames". "


@kazuho Probing frames are still defined and needed for RFC-9000-sytle migration but not if you open a new path using a new, so-far-unused Path ID. This is what is specified in this extension. And I think the currently text is clear that's what  is the only thing considered here ("new path using a new path ID").



@mirjak Thank you for the clarifications. That sounds good to me.

I'm fine with closing.