don’t require sending packets on all paths on key updates

> To address such a synchronization issue, if key update is initialized on one path, the sender SHOULD send at least one packet with the new key on all active paths. Further, an endpoint MUST NOT initiate a subsequent key update until a packet with the current key has been acknowledged on each path

This has a multitude of problems:
1. Depending on the number of paths, this is wasteful.
1. In my implementation, the object managing the keys is purely reactive: It only reacts on input received from the QUIC stack (received packets, requests to encrypt a packet). With this proposal, it would need to take a more active role, triggering the sending of new packets on certain paths.
1. A path might have died when this „key update probe packet“ is sent. This certainly can be solved by adding some additional logic what to do for paths that are abandoned during a key update, but this could potentially become complicated. Furthermore, this is fragile, because this logic will be rarely exercised and could lead to a situation where a node thinks that it’s not allowed to initiate a key update and will there not be able to send any further packets.



Here’s a sketch of an easier solution:
* Keep the logic of RFC 9000: a new key update is only allowed after receiving an ACK for a packet sent using the new keys, on any path.
* RECOMMEND delaying the next key update for at least 3 maxPTO, where maxPTO is the maximum of the PTOs of all paths.

This is safe as a recommendation (and not a requirement), since the worst thing that can happen is that an (absurdly long) reordered packet is received at key phase N-2, can’t be decrypted using the key phase N key, and is dropped. This is a situation that can easily be recovered from.

I like Marten's proposed solution. Clearly, there is some risk involved. For some time after the key update, packets may arrive with the "old" key phase, and should be processed with the old key. If the next rotation is attempted too soon and packets are still in transit with the old key, these packets will be lost. But that's a temporary issue.

What @marten-seemann says.

> Clearly, there is some risk involved. For some time after the key update, packets may arrive with the "old" key phase, and should be processed with the old key. If the next rotation is attempted too soon and packets are still in transit with the old key, these packets will be lost. But that's a temporary issue.

I would point out that during the development of QUIC v1 we did discuss this issue and decided that use of a timer would be fine. I would prefer building on top of that consensus as @marten-seemann proposes, rather than trying to do something else.

To be precise, as stated in [the latter half of RFC 9001 Section 6.5](https://www.rfc-editor.org/rfc/rfc9001#section-6.5-4), we already state that it would be fine for endpoints to retain keys for only two epochs at a time; that is why we already have the 3PTO requirement that @marten-seemann is proposing to expand.

As somebody argued for using timers for Key Update in v1, I will be happy to see it being reused here. Pushed PR #257 that addresses the text.