Improve text on IV creation and cipher algorithm restrictions in Section 4.1

Section 4.1:
`If the IV is larger than 96 bits, the path-and-packet-number is left-padded with zeros to the size of the IV.`
 
I think the "If the IV is larger ..." should rather be "If the Nonce field for the used AEAD algorithm is larger ..."
 
Secondly I think this section should bring up that AEAD algorithms that uses an nonce that are shorter than 96 bits MUST NOT be used. Currently this limitation appear to only be mentioned in a paragraph in Section 2.
 
Note that I think is this part of the text you are talking about the nonce as specified by the AEAD interface as defined by RFC 5116.

I think the text is correct as it and inline with RFC9000. This is what RFC9000 says:

```
The key and IV for the packet are computed as described in Section 5.1. The nonce, N, is formed by combining the packet protection IV with the packet number. The 62 bits of the reconstructed QUIC packet number in network byte order are left-padded with zeros to the size of the IV. The exclusive OR of the padded packet number and the IV forms the AEAD nonce.
```

Also the size of the IV is mentioned in RFC9000 to be the size of the nonce with a reference to RFC5116. This seems a bit circular but I don't think we need or should specify this here a second time:

```
The Length provided with "quic iv" is the minimum length of the AEAD nonce or 8 bytes if that is larger; see [[AEAD](https://datatracker.ietf.org/doc/html/rfc5116)].
```

I think we can close this issue...?

So I war partially wrong in my issue I realize thanks to your citations here. But, I think there are still an issue. So per RFC 9001 Section 5.1 the IV is derived using a key derivation function using the label "quic iv". But that resulting IVs length is to my understanding depending on the selected cipher hash functions and what length it outputs:

`  The keys used for packet protection are computed from the TLS secrets
   using the KDF provided by TLS.  In TLS 1.3, the HKDF-Expand-Label
   function described in Section 7.1 of [TLS13] is used with the hash
   function from the negotiated cipher suite.  All uses of HKDF-Expand-
   Label in QUIC use a zero-length Context.`

The IV length appears cipher dependent, thus it is possible that if one would arrive at a cipher that has an IV that is shorter than 96 bits the behavior is undefined. However, I agree that the text I complained about is necessary to define the behavior when the IV is longer than 96-bits so the path+pn is defined in those cases. 


I think the reader can be helped by adding "The IV length is equal to the nonce length." , which is always true in both TLS 1.3 and QUIC.

I think the relevant text for this discussion is this part of RFC 8446

```
The length of the TLS per-record nonce (iv_length) is set to the
   larger of 8 bytes and N_MIN for the AEAD algorithm (see [RFC5116],
   Section 4).  An AEAD algorithm where N_MAX is less than 8 bytes
   MUST NOT be used with TLS.

```
The QUIC multipath extension does not seem to work for nonce lengths less than 96 bits. This needs to be described similar to how TLS 1.3 states that AEAD algorithms with nonces less than 8 bytes MUST NOT be used. Suggestion

`An AEAD algorithm where N_MIN is less than 12 bytes MUST NOT be used with the QUIC multipath extension.
`

Thanks from my perspective the suggested fixes in #490 do resolve the issue for me. 

Closing as #490 has been merged.