Is it too restrictive to say that the client MUST validate the peer's address before sending?

From [Mike Bishop's IESG review](https://mailarchive.ietf.org/arch/msg/quic/CDIlYE3_YsexZFZSQ84IhV2aChY/):

### Section 3.1, paragraph 2
```
     A client that wants to use a new path MUST validate the peer's
     address before sending any data as described in Section 8.2 of
     [QUIC-TRANSPORT], unless it has previously validated the 4-tuple used
     for that path.
```
Can you point me to the text in Section 8.2 of RFC 9000 you're referencing for
this prohibition on sending data? What I find there is:

> An endpoint MAY include other frames with the PATH_CHALLENGE and PATH_RESPONSE
> frames used for path validation.

...and more explicitly in Section 9.3:

> An endpoint MAY send data to an unvalidated peer address, but it MUST protect
> against potential attacks as described in Sections 9.3.1 and 9.3.2.

In fact, in Section 3.1.2 of this document, "any frame can be sent on a new path
with a new path ID at any time...."

From the email discussion:


The intent is definitely to follow RFC 9000 here. Do you have a
suggestion for improving the text?

[MB] This is effectively analogous to the anti-amplification limit — we don't want a malicious server to tell the client to start sending to some other address, then generate a large amount of attack traffic. The cap on such traffic in the initial handshake is the ICW; given that each new path gets a fresh congestion controller, the same would apply here. I think there's also an implied preference for existing paths if they're available, and the document already has terms for that concept.

Perhaps: "A client that wants to use a new path MUST validate the peer's address. Until the peer address is validated, the client SHOULD treat the new path as "backup," i.e. less preferred than any available and usable paths."

That might also suggest being very explicit in Section 5.3 that each path still has a distinct congestion controller even if the paths share a 4-tuple.