Missing reference to sequence number for DCID

Section 2:

"Further, the sequence number of Destination Connection ID is used as numerical identifier in control frames." This is unclear in how the sequence number works. This likely should have a reference to Section 5.1.1 in RFC 9000.


We now use the path ID instead of the sequence number, so this issue is obsolete. Closing it now..