Migration/Probing (was: Use of "data packet")

There are four occasions of "data packet" in the specification. This term is not defined, but I assume it means a QUIC packet that contains one or more STREAM or DATAGRAM frames.

Either define it or rewrite those occurances. The term is only used a few time in RFC 9000 and also not defined there. So I think avoiding it is probably for the better. 

This issue was noticed by Floris Bruynooghe.

So #588 replaces "data packet" with "data" or "packets containing data".  I'm personally still not clear on how to interpret this.  Are these packets containing "*application* data"?  I.e. STREAM or DATAGRAM (if negotiated) packets?  Just "data" can still mean a lot of things to me.  Or maybe I'm really missing some fundamental definitions somewhere?

To me this is making interpreting how to open a new path while respect anti-amplification limits really difficult to understand.  When reading it as "packets containing STREAM or DATAGRAM frames" I can make sense of the logic described.  But it is not really clear to me that is what is intended.

The definition of "data" (or previously "data packets") as packets containing STREAM or DATAGRAM frames really makes a difference when reading https://quicwg.org/multipath/draft-ietf-quic-multipath.html#section-3.1.

> A client that wants to use an new path MUST validate the peer's address before sending any data as described in {{Section 8.2 of QUIC-TRANSPORT}},

My current understanding of the multipath draft is that it is suggesting here that a client can send PATH_CHALLENGE frames to a new server address, even fully padded (and PATH_RESPONSE, ACK, etc), but has to hold off sending any STREAM or DATAGRAM frames until path validation succeeds.

I don't think anything in section 8.2 of RFC9000 says anything about what frames you can send before validation succeeds.  The problem there is very different since only clients can migrate, while with multipath you can add a path that's a entire new 4-tuple instead of only the client-half.

If you can't send any "data", interpreted as "any payload/datagram", to the remote before path validation you don't have any anti-amplification budget for PATH_CHALLENGE frames in probing packets.  Hence why I'm kind of stuck on interpreting what "data" (or previously "data packet") means in this context.

Thanks for re-opening.  I appreciate the discussion is moving outside of the original subject though.

> You can always sent a PATH_CHALLENGE because that is how you open a path.

Ah, this part is not obvious to me with the current text.  Hence my fixation on what "data (packet)" means.  But maybe I missed something.

For context I am working on an application where the server will suggest new socket addresses to the client on which the client could try to open paths.  So this could let a malicious server send the client to somewhere entirely different.  Though from an abuse view the client will only send a few 1200-byte PATH_CHALLENGE datagrams spaced out with at least the initial PTO time, so perhaps not that bad.  I wanted to be clear about whether the spec allows this or not, as I don't know all the abuse considerations.

The anti-amplification limit applies to every packet. It is entirely about traffic volume, not about the specific content of the packet.

> The anti-amplification limit applies to every packet. It is entirely about traffic volume, not about the specific content of the packet. It is applied as long as the 4-tuple is not validated. That's all specified in RFC 9000.

I still can not make any sense of this part, apologies if this should be obvious.  You can only send up to 3 times as much data as you have received for the anti-amplification limit.  How can the client validate a new server address?  Because it never received anything from this address (a server can not initiate a path), so it can not send a PATH_CHALLENGE because it can not send *anything* according to the anti-amplification limit.

The anti-amplification limit applies to response traffic. So a client may sends a path challenge to start the process. The server in this case are then limited in how much response traffic, which commonly would be both a path_validation frame and the server's own path_challenge. 

So the sending of new traffic on a non-validated frame falls under RFC 9002 section 6.2.2: https://www.rfc-editor.org/rfc/rfc9002.html#name-handshakes-and-new-paths 

Thus, a client can always send one packet on a path it hasn't sent on before. Then it needs to follow the PTO retransmission rules if it doesn't get a answer and gets the path validated in its send direction. 

We had a discussion about that before. The question was, "should we still support RFC 9000 style migration" (which RFC 9000 calls path migration). The answer was yes, because we at least need to support migration of path 0 to the "Preferred Address". That being settled, we have two ways of achieving something like "switch from Wi-Fi to 5G":

1. The RFC 9000 way: assuming path 0 is using WiFi, send another path challenge from the 5G interface, using a CID linked to path 0. If the challenge succeeds, the client update the 4 tuple used for path 0. The server notice "non probing" traffic coming from the new address, and thus also updates the 4 tuple used for path 0.

2. The multipath way: send a path challenge from the 5G interface, using a CID linked to path 1. If the challenge succeeds, the client can send packets on both path 0 and path 1. If the client sets the status of path 1 to available, the server will send traffic on path 1. If the client abandons path 0, all the traffic moves to path 1.

The second way is much easier to manage -- it is a proper implementation of "make before break", and does not require making distinctions for probing packets. That's why it is encouraged. But endpoints may still need to support the old ways -- if only to support the "Preferred Address" feature -- and that means supporting the distinction between probing and non probing packet for these old style migrations.

Maybe we can do a future version in which "preferred address" is implemented using multipath feature, and then stop supporting old style  migration. But that's for the future. 

If you look at section 9 in RFC9000 it is titled "connection migration" and subsection 9.1. is on "probing a new path" there the concept of "connection migration" as defined in RFC9000 implies both probing and the actual switch over. Again if this is not clear, this is a problem in RFC9000 that we can't fix in this document.

I realize that I was a bit lax in my description of how "multipath" migration  works. This really is:

2. The multipath way: send ~a path challenge~ *any packet* from the 5G interface, using a CID linked to path 1. ~If the challenge succeeds,~ *If the 4-tuple is verified,* the client can send packets on both path 0 and path 1. If the client sets the status of path 1 to available, the server will send traffic on path 1. If the client abandons path 0, all the traffic moves to path 1.

That is, the only thing that matters for the "multipath" state machine are the CID, which define the path identifiers, and the path status and path abandon messages. The path challenge and path response are not changing the state of path per se. They are merely helping decide whether the 4-tuple is *verified*, because of their special property of always being sent on the 4 tuple associated with the path -- which distinguishes them from simple ping/ack.


I think this is what is written down in section 5.1 https://quicwg.org/multipath/draft-ietf-quic-multipath.html#name-connection-id-changes-migra

```
For any given path, connection ID rotation, NAT rebinding, or client initiated migration as specified in [[QUIC-TRANSPORT](https://quicwg.org/multipath/draft-ietf-quic-multipath.html#QUIC-TRANSPORT)] might occur, like on a single path. These events do not change the path ID, and do not affect the packet number space associated with the path.[¶](https://quicwg.org/multipath/draft-ietf-quic-multipath.html#section-5.1-2)

It is generally preferable to use multipath mechanisms such as creating a new path and later abandoning the old path, rather than doing migration of a single path as specified in [[QUIC-TRANSPORT](https://quicwg.org/multipath/draft-ietf-quic-multipath.html#QUIC-TRANSPORT)].
```

If this is not clear for you, you would need to try and propose concrete text changes again. But also note that we had already a bunch of discussion about this topic in multiple issues and therefore I think it is already carefully worded.

I created PR #599 in the hope that helps to further clarify. It adds more words, rather than trying to simplify but I hope being explicitly helps to clarify and avoid any further future confusion. Please review!