Clarify the initial Connection ID sequence number on non-initial paths

From some interop from IETF 120 with @Yanmei-Liu, it seems we need to clarify that the initial CID sequence number that should be used is 0, as Section 5.1.1 of RFC9000 bases its discussion on handshake CIDs to define the sequence number 0. There are no such "handshake CIDs" with additional paths.