Do we want to support zero-length connection ID and therefore single packet number space?

I created a PR that moves the single packet number space option into the appendix: #149 

This PR still support zero-length connection ID on the initial path and it also still supports reception of packets with zero-length connection ID (given path migration with zero-length ID is also not strictly forbidden). However, it requires the sender to use a non-zero connection ID when opening an additional path and recommends to send non ack-elicting packet only over one active path.

The intention is to leave the door open for experimentation but still make the spec shorter and more concise. However, I guess we could also decide to remove the single packet number space discussion entirely from this draft, or even allow zero-length connection ID packets only for migration but not for simultaneous use.

I have had a similar thought in the past. It really might be worth the reduction in complexity to just say you have to use a CID if you do multipath. I think I would be ok with that restriction.

I think it might be useful to get inputs from the audience to know whether we want to keep support for zero-length CID for basic multipath. Given the adaptations that single packet number space requires, I wonder if this should be a separate draft that would extend the basic one (i.e., this one).

This is more of a question, but is there a privacy concern by trying to establish a new path when zero-length CID is used?

[RFC 9000 section 9.5](https://www.rfc-editor.org/rfc/rfc9000.html#section-9.5-7) states that:
> An endpoint SHOULD NOT initiate migration with a peer that has requested a zero-length connection ID, because traffic over the new path might be trivially linkable to traffic over the old one. If the server is able to associate packets with a zero-length connection ID to the right connection, it means that the server is using other information to demultiplex packets. For example, a server might provide a unique address to every client -- for instance, using HTTP alternative services [[ALTSVC](https://www.rfc-editor.org/rfc/rfc9000.html#ALTSVC)]. Information that might allow correct routing of packets across multiple network paths will also allow activity on those paths to be linked by entities other than the peer.

IIUC, when zero-length CID is being used on a multipath QUIC connection, paths shared by the connection would be trivially linkable, regardless of if a non-zero-length CID is used to establish a new path.

Assuming that is the case, I think we have to discourage endpoints from using zero-length CIDs with multipath QUIC as well, even if we are to provide support for that.

I think we got sufficient consensus from IETF115 to remove support for single packet number space. For zero-length CID, we may still keep this issue open, but as an individual, I agree with Kazuho's viewpoint.

> This is more of a question, but is there a privacy concern by trying to establish a new path when zero-length CID is used?
> 
> [RFC 9000 section 9.5](https://www.rfc-editor.org/rfc/rfc9000.html#section-9.5-7) states that:
> 
> > An endpoint SHOULD NOT initiate migration with a peer that has requested a zero-length connection ID, because traffic over the new path might be trivially linkable to traffic over the old one. If the server is able to associate packets with a zero-length connection ID to the right connection, it means that the server is using other information to demultiplex packets. For example, a server might provide a unique address to every client -- for instance, using HTTP alternative services [[ALTSVC](https://www.rfc-editor.org/rfc/rfc9000.html#ALTSVC)]. Information that might allow correct routing of packets across multiple network paths will also allow activity on those paths to be linked by entities other than the peer.
> 
> IIUC, when zero-length CID is being used on a multipath QUIC connection, paths shared by the connection would be trivially linkable, regardless of if a non-zero-length CID is used to establish a new path.
> 
> Assuming that is the case, I think we have to discourage endpoints from using zero-length CIDs with multipath QUIC as well, even if we are to provide support for that.

Why would the paths be "trivially linkable"? In the normal case, they would have different client IP addresses--how would the paths otherwise go different ways through the network?

FWIW, I think it is quite straight forward to use multiple PN spaces and zero-length client CIDs.

Closing this issue for now as PR #149 was merged. We can open a separate new issue on the question if we still want to enable server-to-client zero-CID with multiple packet number spaces.