ACK_MP frames for acknowledging 0-RTT packets

At the moment, [section 8.1](https://quicwg.org/multipath/draft-ietf-quic-multipath.html#section-8.1-5.2.1) sounds as ACK_MP frames cannot be used for acknowledging 0-RTT packets, even though 0-RTT packets and 1-RTT packets belong to the same packet number space ([RFC 9000 section 12.3](https://quicwg.org/base-drafts/rfc9000.html#section-12.3-5.6.1)).

> Destination Connection ID Sequence Number:      The sequence number of the Connection ID identifying the packet number space of the 1-RTT packets which are acknowledged by the ACK_MP frame.


That's a good catch and I agree with what you have changed in the text.