Server MUST validate paths before using them

In section 3.1, we wrote 

When the multipath option is negotiated, clients that want to use an additional path MUST first initiate the Address Validation procedure with PATH_CHALLENGE and PATH_RESPONSE frames described in [Section 8](https://rfc-editor.org/rfc/rfc9000#section-8) of [[QUIC-TRANSPORT](https://quicwg.org/multipath/draft-ietf-quic-multipath.html#QUIC-TRANSPORT)]. After receiving packets from the client on the new paths, the servers MAY in turn attempt to validate these paths using the same mechanisms.[¶](https://quicwg.org/multipath/draft-ietf-quic-multipath.html#section-3.1-1)

With multipath, we cannot simply write that the server MAY validate the new path. There is a risk of a malicious client that operates as follows:
- client creates path from its own address, A. Path is validate by server
- client starts long download from server
- client creates a second path to server using a spoofed address, B 
- client starts address validation for B but does not care about the response from the server
- client stops acknowledging packets over the first path to force the server to move packets to the second one and then opportunistically acknowledges packets that should have been sent by the server over that second packet (SPNS would probably make such an attack simpler than MPNS)

We probably need to start working on the security considerations section of the draft.


This is already covered in the QUIC threat model. The server is supposed to validate new paths by sending a "path challenge" on that path, then waiting for a challenge response. If the client spoofs a path, it will never receive the challenge, and thus the server will never receive the response and will not validate the path. See section 8.2 of RFC 9000, path validation. Security section 21.1.3. Connection Migration states that "Path validation ([Section 8.2](https://www.rfc-editor.org/rfc/rfc9000.html#migrate-validate)) establishes that a peer is both willing and able to receive packets sent on a particular path."

So yes, the current text should be "the servers MUST in turn attempt to validate these paths using the same mechanisms, as specified in {{ Section 8.2 of RFC9000 }}."

No, this should not be a MUST. It is true that the path MUST be validated before it can be used. However, just because the serve receives a new packet on a path, that doesn't automatically mean that the server has to start path validation. It could e.g. also decide to simply withdraw that packet.  

Actually, this is also not right.

This is what RFC9000 says (section 9):

`An endpoint MUST perform path validation ([Section 8.2](https://www.rfc-editor.org/rfc/rfc9000#migrate-validate)) if it detects any change to a peer's address, unless it has previously validated that address.`

So I guess we should maybe not use normative language here but refer to section 9 in RFC9000 instead.

Just submitted PR #110 for this issue.